<style>
  .noti-bell:hover {
    cursor: pointer;
  }
</style>
<!-- header start -->
<div class="container fixed-top" style="background-color: white;">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <!-- header left  -->
    <div class="col-md-3 mb-2 mb-md-0">
      <!-- logo TODO: to be replaced -->
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <h1>EON Drive</h1>
      </a>
    </div>
    <!-- header right  -->
    <div class="col-md-2 d-flex justify-content-between">
      <!-- bell icon  -->
      <div class="ms-5 d-flex justify-content-center align-items-center noti-bell dropdown">
        <button class="btn hidden-arrow" type="button" id="dropdownMenuNoti" data-bs-toggle="dropdown"
          data-bs-display="static" data-mdb-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" height="28" fill="currentColor" class="bi bi-bell"
            viewBox="0 0 16 16">
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
          </svg>
          <span class="badge rounded-pill badge-notification bg-danger 
              position-absolute top-0 end-20 p-1">
            <span class="visually-hidden">New alerts</span>
            <!-- d-none: hide the badge  -->
          </span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-start" 
            aria-labelledby="dropdownMenuNoti" id="noti-ul">
          <li><div class="dropdown-item" id="no-noti">No Notification</div></li>
        </ul>
      </div>
      <!-- user icon  -->
      <div class="dropdown">
        <button class="btn hidden-arrow" type="button" id="dropdownMenuUser" data-bs-toggle="dropdown"
          data-mdb-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" height="35" fill="currentColor" class="bi bi-person"
            viewBox="0 0 16 16">
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
          </svg>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuUser">
          <li><button class="dropdown-item" id="logout-btn">Logout</button></li>
        </ul>
      </div>
    </div>
  </header>
</div>
<!-- header end -->
<!-- header placeholder -->
<div class="header-placeholder" style="height: 113px;"></div>