<div class="container w-75">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <h1>EON Drive</h1>
      </a>
    </div>
    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-dark me-4">Sign In</button>
      <button type="button" class="btn btn-outline-dark">Sign Up</button>
    </div>
  </header>
</div>