<style>
  .footer-block {
    background-color: white;
    color: rgb(141, 141, 141);
  }

  .footer-block a {
    color: rgb(141, 141, 141);
    text-decoration: none;
  }

  .footer-block a:hover {
    color: rgb(105, 105, 105);
  }

  footer {
    margin: 1vh 0;
    padding: 1vh 0;
  }
</style>
<div class="container w-75 footer-block">
  <footer class="d-flex flex-wrap justify-content-between align-items-center">
    <ul class="nav justify-content-end">
      <li class="nav-item"><a href="/info#terms" class="nav-link px-2">Terms and Conditions</a></li>
      <li class="nav-item"><a href="/info#privacy" class="nav-link px-2">Privacy Policy</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">Contact</a></li>
    </ul>
    <div class="d-flex align-items-center">
      <div>© 2023 EON Drive</div>
    </div>
  </footer>
</div>