-- MySQL dump 10.13  Distrib 8.0.32, for Win64 (x86_64)
--
-- Host: localhost    Database: eondrive
-- ------------------------------------------------------
-- Server version	8.0.32

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ff`
--

DROP TABLE IF EXISTS `ff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ff` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `parent_id` bigint unsigned NOT NULL DEFAULT '0',
  `name` varchar(255) COLLATE utf8mb4_0900_bin NOT NULL,
  `type` varchar(6) COLLATE utf8mb4_0900_bin NOT NULL,
  `user_id` bigint unsigned NOT NULL,
  `upd_status` varchar(10) COLLATE utf8mb4_0900_bin NOT NULL,
  `upd_token` varchar(36) COLLATE utf8mb4_0900_bin DEFAULT NULL,
  `is_delete` tinyint NOT NULL DEFAULT '0',
  `share_token` varchar(15) COLLATE utf8mb4_0900_bin DEFAULT NULL,
  `is_public` tinyint NOT NULL DEFAULT '0',
  `created_at` bigint NOT NULL,
  `updated_at` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `share_token` (`share_token`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `ff_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ff`
--

LOCK TABLES `ff` WRITE;
/*!40000 ALTER TABLE `ff` DISABLE KEYS */;
/*!40000 ALTER TABLE `ff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ff_delete`
--

DROP TABLE IF EXISTS `ff_delete`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ff_delete` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ff_id` bigint unsigned NOT NULL,
  `deleted_at` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ff_id` (`ff_id`),
  CONSTRAINT `ff_delete_ibfk_1` FOREIGN KEY (`ff_id`) REFERENCES `ff` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ff_delete`
--

LOCK TABLES `ff_delete` WRITE;
/*!40000 ALTER TABLE `ff_delete` DISABLE KEYS */;
INSERT INTO `ff_delete` VALUES (2,27,1681537087734),(3,34,1681537454657),(4,35,1681537454657),(5,36,1681537454657),(6,33,1681537454657),(7,25,1681537700209),(8,27,1681537728934),(9,38,1681537972323),(10,39,1681537972323),(11,41,1681537972323),(12,42,1681537972323),(13,44,1681537972323),(14,45,1681537972323),(15,43,1681537972323),(16,40,1681537972323),(17,37,1681537972323),(18,19,1681538167348),(19,18,1681538167348),(20,47,1681636517284),(21,48,1681636517284),(22,9,1681642327897),(23,56,1681661597032),(24,59,1681749277614);
/*!40000 ALTER TABLE `ff_delete` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file_ver`
--

DROP TABLE IF EXISTS `file_ver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `file_ver` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ff_id` bigint unsigned NOT NULL,
  `ver` bigint unsigned NOT NULL,
  `size` bigint unsigned NOT NULL,
  `is_current` tinyint NOT NULL,
  `updated_at` bigint NOT NULL,
  `operation` varchar(8) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ff_id` (`ff_id`),
  CONSTRAINT `file_ver_ibfk_1` FOREIGN KEY (`ff_id`) REFERENCES `ff` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file_ver`
--

LOCK TABLES `file_ver` WRITE;
/*!40000 ALTER TABLE `file_ver` DISABLE KEYS */;
/*!40000 ALTER TABLE `file_ver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `share_link_perm`
--

DROP TABLE IF EXISTS `share_link_perm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `share_link_perm` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ff_id` bigint unsigned NOT NULL,
  `has_access` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ff_id` (`ff_id`),
  KEY `has_access` (`has_access`),
  CONSTRAINT `share_link_perm_ibfk_1` FOREIGN KEY (`ff_id`) REFERENCES `ff` (`id`) ON DELETE CASCADE,
  CONSTRAINT `share_link_perm_ibfk_2` FOREIGN KEY (`has_access`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `share_link_perm`
--

LOCK TABLES `share_link_perm` WRITE;
/*!40000 ALTER TABLE `share_link_perm` DISABLE KEYS */;
INSERT INTO `share_link_perm` VALUES (3,5,5),(4,5,6),(5,5,7),(7,10,6),(8,25,5);
/*!40000 ALTER TABLE `share_link_perm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `email` varchar(255) COLLATE utf8mb4_0900_bin NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_0900_bin NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_0900_bin NOT NULL,
  `plan` tinyint unsigned NOT NULL,
  `allocated` bigint unsigned NOT NULL,
  `used` bigint unsigned NOT NULL,
  `created_at` bigint NOT NULL,
  `updated_at` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-04-18  1:07:22
