<style>
  * {
    font-family: 'Lato', sans-serif !important;
  }

  /* div,
  .nav {
    border: 1px dashed;
  } */

  header {
    padding-top: 2vh;
  }

  .header-logo {
    height: 11vh;
    max-height: 100%;
    width: auto;
  }

  .header-btn {
    padding: 1vh 1.7vh;
    margin-bottom: 0.5vh;
  }

  .header-btn a {
    color: black;
    text-decoration: none;
  }

  .header-btn:hover {
    font-weight: bolder;
    /* background-color: #f8f5ef;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); */
  }

  .header-btn span {
    font-size: 1.3vw;
  }
  
  .header-block {
    background-color: white;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

  }

  .content-block {
    padding-top: 18vh;
    padding-bottom: 10vh;
  }

</style>
<div class="container w-75 header-block">
  <header class="d-flex flex-wrap align-items-stretch justify-content-md-between border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img class="header-logo" src="/img/header-logo.jpg">
      </a>
    </div>
    <div class="col-md-2 d-flex justify-content-end align-items-end">
      <div class="header-btn">
        <a href="/login"><span>Login</span></a>
      </div>
      <div class="header-btn">
        <a href="/register"><span>Register</span></a>
      </div>
    </div>
  </header>
</div>