<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EON Drive - Register</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div id="root">
      <div>
        <a href="/login">Login</a>
        <p></p>
      </div>
      <div>
        <form>
          <label>Name: </label>
          <input class="input-name" name="name" type="string">
          <p></p>
          <label>Email: </label>
          <input class="input-email" name="email" type="email" pattern="^[\-\w\.]+@([\-\w]+\.)+[\-\w]{2,4}$">
          <p></p>
          <label>Password: </label>
          <input class="input-password" name="password" type="password">
          <p></p>
          <button class="input-button" type="submit">Register</button>
        </form>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" 
          integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
          crossorigin="anonymous"></script>
  <script type="module" src="/js/register.js"></script>
</html>