body {
  font-family: Verdana;
  font-size: 18px;
}

#current-path {
  font-size: 22px;
  margin: 10px 0;
}

#whole-path {
  display: flex;
  align-items: center;
}

.path-slash {
  padding: 0 5px;
}

.folder {
 font-size: 18px; 
}

.file {
  font-size: 18px;
}