<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EON Drive</title>
  <%- include('../visitor/partial/stylesheet') %>
    <%- include('../visitor/partial/script') %>
      <!-- css internal -->
      <style>
        .content-block {
          width: 68vw;
        }

        div {
          /* border: 1px dashed; */
        }

        .btn {
          background-color: #f8f5ef;
          font-size: 1.2vw;
        }

        /* .btn a{
          text-decoration: none;
          color: #000;
          font-size: 1.2vw;
        } */
        .btn:hover {
          background-color: #f8f5ef;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        }
      </style>
</head>

<body>
  <div id="root">
    <%- include('../visitor/partial/header') %>
      <!-- Main Body  -->
      <div class="container content-block d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center">
          <h4><b>Email verification link expired</b></h4>
          <h5 class="mt-3">Looks like the verification link has expired.
            Not to worry, we can send the link again.</h5>
          <button class="btn my-3" id="resend-verify-mail">Resend Verification Link</button>
        </div>
        <!-- error modal  -->
        <div class="modal fade" id="link-not-expired-modal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog w-25">
            <div class="modal-content">
              <div class="modal-body d-flex justify-content-center">
                <div id="link-not-expired-msg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../visitor/partial/footer') %>
  </div>
  <script type="module" src="/js/pages/visitor/expired.js"></script>
</body>

</html>