<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EON Drive - Login</title>
  <%- include('./partial/stylesheet') %>
    <%- include('./partial/script') %>
      <style>
        * {
          font-family: 'Lato', sans-serif !important;
        }

        header {
          padding-top: 2vh;
        }

        .header-logo {
          height: 11vh;
          max-height: 100%;
          width: auto;
        }

        .header-btn {
          padding: 1vh 1.7vh;
          margin-bottom: 0.5vh;
        }

        .header-btn a {
          color: black;
          text-decoration: none;
        }

        .header-btn:hover {
          font-weight: bolder;
          /* background-color: #f8f5ef;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); */
        }

        .header-btn span {
          font-size: 1.3vw;
          line-height: 2.5;
        }

        .login-title {
          font-size: 2vw;
        }

        .card {
          border: none;
        }

        .card-body {
          padding: 1.5rem;
        }

        .form-check-input {
          margin-right: 0.5rem;
        }

        .form-check-label {
          color: rgb(141, 141, 141);
        }

        .continue-btn {
          font-size: 1.2vw;
          border: none;
          background-color: #f8f5ef;
        }

        .continue-btn:hover {
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }

        .note {
          color: rgb(141, 141, 141);
        }

        .header-block {
          background-color: white;
          position: fixed;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 99;

        }

        .content-block {
          padding-top: 10vh;
          padding-bottom: 13vh;
        }

        div {
          /* border: 1px dashed; */
        }

        @media screen and (min-height: 800px) {
          .content-block {
            padding-top: 13vh;
            padding-bottom: 13vh;
          }
        }
      </style>
</head>

<body>
  <div id="root">
    <!-- header  -->
    <div class="container header-block">
      <header class="d-flex flex-wrap align-items-stretch justify-content-md-between border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img class="header-logo" src="img/header-logo.jpg">
          </a>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-end">
          <div class="header-btn">
            <a href="/register"><span>Register</span></a>
          </div>
        </div>
      </header>
    </div>
    <!-- content  -->
    <div class="container content-block d-flex align-items-center mb-5">
      <div class="modal fade" id="login-failed-modal" tabindex="-1" aria-labelledby="login-failed-modal-label"
        aria-hidden="true">
        <div class="modal-dialog w-25">
          <div class="modal-content">
            <div class="modal-body d-flex justify-content-center">
              <div id="login-err-msg"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-4">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-5">
            <div class="d-flex justify-content-center align-items-end mx-4 my-3">
              <h4 class="card-title text-center"><b>Login</b></h4>
            </div>
            <div class="card shadow">
              <div class="card-body">
                <form>

                  <div class="mb-3">
                    <label for="email" class="form-label">Email<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="email" id="email" required placeholder="Enter Email"
                      pattern="^[\-\w\.]+@([\-\w]+\.)+[\-\w]{2,4}$" autocomplete="off">
                  </div>

                  <div class="mb-3">
                    <label for="password" class="form-label">Password<span class="text-danger">*</span></label>
                    <input type="password" class="form-control" name="password" id="password" required
                      placeholder="Enter Password">
                  </div>

                  <!-- <div class="mb-3 form-check d-flex justify-content-between">
                    <div>
                      <input type="checkbox" class="form-check-input" id="rememberMe">
                      <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                    <a class="me-2" href="#">Forgot password</a>
                  </div> -->

                  <div class="d-flex justify-content-center pt-2 pb-3">
                    <button type="submit" class="w-100 continue-btn py-1">Continue</button>
                  </div>

                  <div class="d-flex justify-content-center py-1">
                    <span class="note">Not a member?&nbsp;&nbsp;
                      <a class="my-2" href="/register">Signup now</a>
                    </span>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer  -->
    <%- include('./partial/footer') %>
  </div>
  <script type="module" src="/js/pages/visitor/login.js"></script>
</body>

</html>