<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato' type='text/css'>
  <link href="/img/favicon.ico" rel="shortcut icon" />
  <title>EON Drive</title>
  <style>
    * {
      margin: 0;
      font-family: 'Lato', sans-serif !important;
    }

    div {
      /* border: 1px dashed lightblue; */
    }

    #main-block {
      display: flex;
    }

    #img-block {
      margin-left: 14vw;
    }

    #index-img {
      padding-top: 12vh;
      width: 35vw;
      max-width: 100%;
      height: auto;
      padding-bottom: 2vh;
    }

    #title-block {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    #title {
      font-weight: 600;
      font-size: 7vw;
    }

    #slogan-block {
      text-align: right;
    }

    .slogan {
      color: #525252;
      font-weight: 400;
      font-size: 1.2vw;
      padding-left: 0.5vw;
      line-height: 3vh;
    }

    #start-btn {
      display: flex;
      justify-content: center;
      padding-top: 6vh;
    }

    span {
      font-size: 1.5vw;
      letter-spacing: 2px;
      font-family: Arial, sans-serif !important;
    }

    #start-btn a {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: #000;
    }

    #start-btn a span {
      transition: all 0.2s ease-in-out;
    }

    #start-btn a::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #000;
      transition: all 0.2s ease-in-out;
    }

    #start-btn a:hover::after {
      width: 100%;
    }

    #start-btn a:hover span {
      color: #000;
    }

    @media screen and (max-width: 1500px) {
      .slogan {
        font-size: 1.3vw;
        line-height: 3.6vh;
      }
    }
  </style>
</head>

<body>
  <div id="root">
    <div id="main-block">
      <div id="img-block">
        <img id="index-img" src="/img/index.png">
      </div>
      <div id="title-block">
        <div id="slogan-block">
          <h3 class="slogan">Free personal cloud storage web application</h3>
          <h3 class="slogan">Upload, store, and access your files from anywhere</h3>
        </div>
        <h1 id="title">EON Drive</h1>
        <div id="start-btn">
          <a href="/login"><span>Start Now</span></a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>